@mixin shrinkLabel {
  position: absolute;
  bottom: 30px;
  color: rgb(82, 80, 80);
}

.container {
  margin-top: 100px;
  height: 400px;
  width: 400px;
  #{&}__form {
    height: 400px;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 11px 11px 12px 4px rgb(47, 59, 70);

    .emailField,
    .passwordField {
      margin-top: 10px;
      padding: 5px;
      flex-direction: column;
      position: relative;

      & label {
        position: absolute;
        left: 8px;
        transition: all 0.4s ease-in-out;
      }
    }
  }
}

#email,
#password {
  background: none;
  border: none;
  border-bottom: 2px solid black;
  min-width: 300px;
  outline: none;
  transition: background-color 100000s ease;
  height: 30px;
  font-size: 1em;
  &:focus ~ label {
    @include shrinkLabel();
  }
}
.shrink {
  @include shrinkLabel();
}

.submit__button {
  align-self: flex-start;
  position: relative;
  left: 50px;
  top: 10px;
}
